acme==3.1.0
aiofiles==24.1.0
antlr4-python3-runtime==4.7.2
appdirs==1.4.4
argcomplete==3.5.3
attrs==23.2.1.dev0
auto-cpufreq==1
autocommand==2.2.2
beautifulsoup4==4.12.3
bitarray==3.0.0
bitstring==4.3.0
blinker==1.9.0
btrfsutil==6.13
build==1.2.2
CacheControl==0.14.2
cachy==0.3.0
certbot==3.1.0
certbot-nginx==3.1.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cleo==2.1.0
click==8.1.8
colorama==0.4.6
ConfigArgParse==1.5.5
configobj==5.0.9
construct==2.10.70
coverage==7.6.12
crashtest==0.4.1
cryptography==44.0.1
cssselect==1.2.0
daemonize==2.5.0
dbus-python==1.3.2
distlib==0.3.9
distro==1.9.0
docopt==0.6.2
dulwich==0.22.7
dunamai==1.23.0
ecdsa==0.19.0
esp-coredump==1.12.0
esp-idf-monitor==1.5.0
esp-idf-panic-decoder==1.2.1
esptool==4.8.1
fastjsonschema==2.21.1
filelock==3.17.0
findpython==0.6.2
Flask==3.1.0
html5lib==1.1
i3ipc==2.2.1
idna==3.10
inkscape-figures==1.0.8
inotify==0.2.10
installer==0.7.0
intelhex==2.3.0
itsdangerous==2.2.0
iwdgui @ file:///home/daysling/.cache/paru/clone/iwdgui/src/iwdgui-0.3.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.8.0
Jinja2==3.1.5
josepy==1.14.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
key-mon==1.20
keyring==25.5.0
keyutils==0.6
lark==1.2.2
latex2sympy2==1.9.1
libtmux==0.44.2
lit==19.1.7.dev0
lockfile==0.12.2
lsplug==5
lxml==5.3.1
Mako==1.3.9.dev0
Markdown==3.7
MarkupSafe==2.1.5
meson==1.7.0
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.0.5
netifaces==0.11.0
nftables==0.1
nose==1.3.7
numpy==2.2.3
nwg-displays==0.3.22
packaging==24.2
parsedatetime==2.6
pbs-installer==2025.2.12
pexpect==4.9.0
pillow==11.1.0
pkginfo==1.12.0
platformdirs==4.3.6
poetry==2.1.1
poetry-core==2.1.1
poetry-dynamic-versioning==1.4.1
poetry-plugin-export==1.9.0
psutil==7.0.0
psutils==3.3.9
ptyprocess==0.7.0
puremagic==1.28
pwquality==1.4.5
pycairo==1.27.0
pycparser==2.22
pyelftools==0.31
pygdbmi==0.11.0.0
PyGObject==3.50.0
pyinotify==0.9.6
pyOpenSSL==24.3.0
pyparsing==3.1.2
pypdf==5.3.0
pyperclip==1.9.0
pyprland==2.4.3
pyproject_hooks==1.2.0
pyRFC3339==1.1
pyserial==3.5
python-xlib==0.33
pytz==2025.1
pyxdg==0.28
PyYAML==6.0.2
RapidFuzz==3.12.1
reedsolo==1.7.0
referencing==0.35.1
Reflector==2023.6.28.0.36.1
requests==2.32.3
requests-toolbelt==1.0.0
rpds-py==0.22.3
scour==0.38.2
screenkey==1.5
SecretStorage==3.3.3
setproctitle==1.3.4
setuptools==75.8.0
shellingham==1.5.4
six==1.17.0
smbus==1.1
soupsieve==2.6
sympy==1.13.3
TBB==0.2
tmuxp==1.53.0
tomlkit==0.13.2
tqdm==4.67.1
trove-classifiers==2025.1.15.22
typing_extensions==4.12.2
udiskie==2.5.7
urllib3==2.3.0
validate==5.0.9
virtualenv==20.28.0
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.45.0
wxPython==4.2.2
zstandard==0.23.0
